:root {
    --color-one: #7B2CBF;
    /* --color-two: #E0AAFF; */
    --color-two: white;
    --color-three: #f0d7ff;
    --color-five: #ffc300;
    --body-text-color: #3C096C;
}

html.dark {
    --color-one: #2b0d61;
    --color-two: #eed2ff;
    --color-three: #3C096C;
    --color-five: #55a630;
    --body-text-color: #edebf0;
}

/* * {
    outline: 1px solid red;
  } */

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

header{
    background-color: var(--color-one);
    color: var(--color-two);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

/* nav and hamburguer button section */

header h1{
    margin-left: 0;
}

header h1 a{
    text-decoration: none;
    color: var(--color-two);
}

#hamburgerButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

nav {
    display: flex;
    margin-right: 0;
}

nav ul{
    list-style: none;
	display: flex;
	flex-direction: column;
}

nav a {
    transform: scale(1);
	transition: transform 1s, background-color 1s, color 1s;
    border-radius: 8%;
	display: block;
	color: var(--color-two);
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
}

nav a:hover {
	transform: scale(1.1);
    transition: 0.5s;
    border-radius: 8%;
	background-color: var(--color-two);
	color: var(--color-one);
}

.active {
	color: var(--color-five);
}

.active:hover {
	transform: scale(1.1);
    transition: 0.5s;
    border-radius: 8%;
	background-color: var(--color-five);
	color: var(--color-one);
}

@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
}

@media(max-width: 739px){
	#hamburgerButton {
		display: flex;
        justify-content: flex-end;
		padding-right: 1.4rem;
        padding-top: 1.4rem;
		transform: scale(1);
		transition: transform 1s, color 1s;
	}

	#hamburgerButton:hover {
		transform: scale(1.1);
		transition: 0.5s;
		border-radius: 8%;
		color: var(--color-five);
	}

	header{
		display: flex;
    	justify-content: space-between;
	}
	
	#navigation {
		display: none; 
		flex-direction: column;
	}
	
	#navigation.open {
		display: flex; 
	}
}

/* ================================ */
/* main section */
main {
    min-height: 84vh;
    /* background-color: var(--color-three); */
    background-image: url('../images/background_light.png');
    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f9f2fde4;  /* Branco com 50% de transparência */
    background-blend-mode: overlay;
}

html.dark main{
    min-height: 84vh;
    /* background-color: var(--color-three); */
    background-image: url('../images/background_dark.png');
    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat;
    background-color: #17022b;
    background-blend-mode: overlay;
}

#main_ai {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--body-text-color);
    font-weight: 300;
}

#aiContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1100px;
    height: 80vh;
    border-radius: 25px;
    padding: .5rem;
    /* border: 1px solid var(--color-one); */
    /* background-color: var(--color-three); */
}

#chats::-webkit-scrollbar,
#chatMessages::-webkit-scrollbar {
    width: 8px;
}

#chats{
    width: 20%;
    padding: .5rem;
    height: 94%;
    overflow-y: auto;
    /* background-color: var(--color-two); */
    border-radius: 25px;
}

.chats{
    width: fit-content;
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-color: var(--color-three);
    border-radius: 8px;
    padding: 1rem;
    text-align: left;
}

#chat{
    width: 80%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#chatMessages{
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-radius: 25px 25px 0 0 ;
}

.aiMessage{
    width: fit-content;
    margin: .5rem;
    padding: 1rem;
    align-self: flex-start;
    text-align: left;
    margin-right: 4rem;
    border-radius: 25px 25px 25px 0;
    background-color: var(--color-three);
}

.userMessage{
    width: fit-content;
    margin-right: .5rem;
    padding: 1rem;
    align-self: flex-end;
    text-align: right;
    margin-left: 4rem;
    border-radius: 25px 25px 0 25px;
    background-color: var(--color-five);
}

#chatInput{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

#userMessageInput{
    width: 75%;
    border-radius: 20px;
    padding: .2rem;
    margin: .5rem;
    border: 1px solid var(--color-one);
}

#send_msg_button {
    width: 30px;
}

#chatInput button{
    background: none;
    border: none;
    padding: 0;
    margin: 1rem;
}

/* ======= footer and theme section ====== */
#theme{
    position: fixed;
    /* background-color: var(--color-two);
    color: var(--color-one); */
    border-radius: 35px;
    border-style: none;
    /* font-size: 17px; */
    max-width: 35px;
    z-index: 999;
    bottom: 2rem;
    left: 2rem;
    padding: .6rem;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: var(--color-one);
    color: var(--color-two);
    text-align: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
}