:root {
    --color-one: #7B2CBF;
    /* --color-two: #E0AAFF; */
    --color-two: white;
    --color-three: #f0d7ff;
    --color-five: #ffc300;
    --body-text-color: #3C096C;
}

html.dark {
    --color-one: #2b0d61;
    --color-two: #eed2ff;
    --color-three: #3C096C;
    --color-five: #55a630;
    --body-text-color: #edebf0;
}

/* * {
    outline: 1px solid red;
  } */

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

header{
    background-color: var(--color-one);
    color: var(--color-two);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    height: 16vh;
}

/* nav and hamburguer button section */

header h1{
    margin-left: 0;
}

header h1 a{
    text-decoration: none;
    color: var(--color-two);
}

#hamburgerButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

nav {
    display: flex;
    margin-right: 0;
}

nav ul{
    list-style: none;
	display: flex;
	flex-direction: column;
}

nav a {
    transform: scale(1);
	transition: transform 1s, background-color 1s, color 1s;
    border-radius: 8%;
	display: block;
	color: var(--color-two);
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
}

nav a:hover {
	transform: scale(1.1);
    transition: 0.5s;
    border-radius: 8%;
	background-color: var(--color-two);
	color: var(--color-one);
}

.active {
	color: var(--color-five);
}

.active:hover {
	transform: scale(1.1);
    transition: 0.5s;
    border-radius: 8%;
	background-color: var(--color-five);
	color: var(--color-one);
}

@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
}

@media(max-width: 739px){
	#hamburgerButton {
		display: flex;
        justify-content: flex-end;
		padding-right: 1.4rem;
        padding-top: 1.4rem;
		transform: scale(1);
		transition: transform 1s, color 1s;
	}

	#hamburgerButton:hover {
		transform: scale(1.1);
		transition: 0.5s;
		border-radius: 8%;
		color: var(--color-five);
	}

	header{
		display: flex;
    	justify-content: space-between;
	}
	
	#navigation {
		display: none; 
		flex-direction: column;
	}
	
	#navigation.open {
		display: flex; 
	}
}

/* ================================ */
/* main section */
main {
    min-height: 84vh;
    /* background-color: var(--color-three); */
    background-image: url('../images/background_light.png');
    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f9f2fde4;  /* Branco com 50% de transparência */
    background-blend-mode: overlay;
}

html.dark main{
    min-height: 84vh;
    /* background-color: var(--color-three); */
    background-image: url('../images/background_dark.png');
    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat;
    background-color: #17022b;
    background-blend-mode: overlay;
}

#home_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    max-width: 600px;
    /* background-color: #eed2ff4d;
    border-radius: 25px; */
}

#main_home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--body-text-color);
    font-weight: 300;
}

#main_profile {
    color: var(--body-text-color);
    font-weight: 300;
    padding: 2rem;
}

#home_content button{
    transform: scale(1);
	transition: transform 1s, background-color 1s, color 1s;
    color: var(--color-two);
    background-color: var(--color-one);
    border-radius: 25px;
    border: none;
    font-size: 20px;
    padding: 1rem;
    width: 12rem;
}

#home_content button:hover{
    color: var(--color-one);
    background-color: var(--color-five);
    transform: scale(1.1);
    transition: 0.5s;
    border-radius: 25px;
}

/* #home_content section{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* ======= FORM SECTION ====== */
/* FORM STYLE SECTION */

#form1 fieldset{
    border: none;
    padding: .5rem 2%;
}

#form1 legend{
    padding: 0;
    font-weight: 900;
    font-size: 28px;
}

#form1 label {
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
}

#form1 input[type="text"],
#form1 input[type="date"],
#form1 textarea,
#form1 select{
    background-color: var(--color-three);
    display: block;
    border: none;
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

#form1 option{
    color: var(--body-text-color);
}

#form1 textarea,
#form1 input[type="radio"],
#form1 input[type="checkobx"]{
    margin-right: 10px;
}

button,
#form1 input[type="submit"]{
    border: none;
    transform: scale(1);
	transition: transform 1s, background-color 1s, color 1s;
    color: var(--color-two);
    background-color: var(--color-one);
    border-radius: 25px;
    font-weight: 600;
    padding: 0.8rem;
    width: 96%;
    max-width: 400px;
    margin: 1rem 10% 2rem 3%;
    cursor: pointer;
}

button:hover,
#form1 input[type="submit"]:hover{
    color: var(--color-one);
    background-color: var(--color-five);
    transform: scale(1.1);
    transition: 0.5s;
}

#form1 input:required{
    border-left: solid 4px #6f200e;
}

#form1 input:required:valid{
    border-left: solid 4px green;
}

/* ======= footer and theme section ====== */
#theme{
    position: fixed;
    /* background-color: var(--color-two);
    color: var(--color-one); */
    border-radius: 35px;
    border-style: none;
    /* font-size: 17px; */
    max-width: 35px;
    z-index: 999;
    bottom: 2rem;
    left: 2rem;
    padding: .6rem;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: var(--color-one);
    color: var(--color-two);
    text-align: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
}