body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto /  auto auto;
    margin: 0;
}


header {
    background: rgb(57, 57, 57);
    color: white;
    grid-column: 1 / 4;
}

h1{
    padding: 1rem;
}
  
a{
    all:unset;
}

nav {
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.8rem;
}
  
main {
    background: rgb(162, 162, 162);
    grid-column: 1 / 3;
}
  
.right-sidebar {
    background: rgb(224, 224, 224);
    grid-column: 3 / 4;
}
  
footer {
    background: rgb(57, 57, 57);
    color: white;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}
  
  main,
  .right-sidebar {
    padding: 1rem;
  }
  