:root {
    --primary-color: #14213D;
    --sec-color: #E5E5E5;
    --background-color: white;
    --white-theme-text-color: #14213D;
    --dark-theme-text-color: white;
    --third-color: #FCA311;
    --primary-color_transparent:#14213d82;
}

/* * {
    outline: 1px solid red;
  } */

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

header{
    background-color: var(--primary-color);
    color: var(--dark-theme-text-color);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

header h1{
    margin-left: 0;
}

main {
    height: 70vh;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--dark-theme-text-color);
    text-align: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
}