:root{
    --primary-color: #14213D;
    --sec-color: #E5E5E5;
    --background-color: white;
    --white-theme-text-color: #14213D;
    --dark-theme-text-color: white;
    --third-color: #FCA311;
    --primary-color_transparent:#14213d82;
}

/* * {
    border: 1px solid red;
} */

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--dark-theme-text-color);
    height: 12vh;
}

header::after{
    position: absolute;
    bottom: 0;
    content: "";
    padding-bottom: 0.8rem;
    width: 100%;
    background-color: var(--third-color)
}

@media (max-width: 739px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    picture img{
        width: 100%;
    }

    section{
        border-bottom: 1px solid var(--primary-color);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }

    section h2{
        text-align: center;
    }

    section div{
        display: flex;
        gap: 10px;
        margin-bottom: 5px;
    }

    section img{
        max-width: 80px;
    }

    strong{
        font-weight: bold;
    }
}

@media (min-width: 740px) {
    main {
        position: relative;
    }

    picture img{
        width: 100%;
        display: block;
        height: 69vh;
        object-fit: cover;
    }

    #data{
        position: absolute;
        z-index: 10;
        top: 2rem;
        left: 2rem;
    }

    #weather{
        position: absolute;
        z-index: 2;
        bottom: 2rem;
        right: 2rem;
    }

    section{
        background-color: #14213ddc;
        width: 300px;
        color: white;
        /* border-radius: 5%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }

    section h2{
        color: var(--primary-color);
        text-align: center;
        padding-left: 2rem;
        padding: 1rem;
        background-color: var(--third-color);
        width: 100%;
    }

    section div{
        display: flex;
        gap: 10px;
        margin-bottom: 5px;
    }

    section img{
        max-width: 80px;
    }

    strong{
        font-weight: bold;
    }
}

footer {
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--dark-theme-text-color);
    text-align: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
    height: 17vh;
}